
.marketing-grid[data-v-2cca6661] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px
}
.form-grid[data-v-2cca6661] {
    display: grid;
    gap: 10px;
    margin: 20px 0
}
.admin-row[data-v-2cca6661] {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    border-top: 1px solid #e5e7eb;
    padding: 13px 0
}
.admin-row span[data-v-2cca6661] {
    display: flex;
    gap: 6px
}
.admin-row span[data-v-2cca6661]:first-child {
    flex-direction: column
}
.admin-row small[data-v-2cca6661] {
    color: #6b7280
}
button[data-v-2cca6661]:disabled {
    cursor: wait;
    opacity: .65
}
@media(max-width:900px) {
.marketing-grid[data-v-2cca6661] {
        grid-template-columns: 1fr
}
}
