
.compare-check[data-v-23049276] {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 12px 0;
    font-weight: 700;
    color: #333
}
.compare-check input[data-v-23049276] {
    width: 18px;
    height: 18px;
    accent-color: #d71920
}
.promotion-badge[data-v-23049276] {
    margin-top: 8px;
    color: #b91c1c;
    font-size: .85rem;
    font-weight: 800
}
