
.eyebrow[data-v-075013f2] {
        color: #b91c1c;
        font-weight: 800
}
.news-grid[data-v-075013f2] {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 22px
}
.news-card[data-v-075013f2] {
        overflow: hidden;
        border: 1px solid #e5e7eb;
        border-radius: 14px;
        background: #fff
}
.news-card img[data-v-075013f2] {
        width: 100%;
        height: 210px;
        object-fit: cover
}
.news-card div[data-v-075013f2] {
        padding: 20px
}
.news-card small[data-v-075013f2] {
        color: #6b7280
}
.news-card h2[data-v-075013f2] {
        font-size: 1.2rem;
        font-weight: 800;
        margin: 8px 0
}
.news-card p[data-v-075013f2] {
        color: #6b7280
}
@media(max-width:850px) {
.news-grid[data-v-075013f2] {
            grid-template-columns: 1fr
}
}
